:root {
    --primary-color: #6c63ff;
}

.text-primary-color {
    color: var(--primary-color) !important;
}

body {
    font-family: "Inter", "Roboto", serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-primary-color {
    background-color: var(--primary) !important;
}
